.profile-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.profile-form__heading {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    margin-bottom: 123px;
}

.pprofile-form__form {
    display: flex;
    flex-direction: column;
    width: 410px;
    justify-content: center;
}

.profile-form__form-wrapper {
    display: flex;
    border-bottom: 1px solid #E8E8E8;
    margin-bottom: 17px;
    padding-bottom: 16px;
}

.profile-form-input__title {
    width: 140px;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
}

.profile-form-input {
    text-align: right;
    padding: 0;
    border: 0;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #000000;
    outline: none;
    width: 100%;

}

.form-input:last-child {
    margin-bottom: 0;
    border-bottom: 0;
    border-bottom: 0;
}
