.register {
    margin: 0 30px;
}

.entrance-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 369px;
    width: 100%;
    margin: 70px auto 0 auto;
}

.entrance-form-logo {
    width: 38px;
    height: 38px;
    margin-bottom: 40px;
}

.entrance-form__header {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin: 0;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 40px 0 0 0;
    position: relative;
}

.form__input-title {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #A0A0A0;
}

.form__input {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    border: 0;
    border-bottom: 1px solid #E8E8E8;
    margin: 5px 0 0 0;
    padding: 0 0 10px 0;
    outline: 0;
    background-color: transparent;
}

.form__input:last-of-type {
    margin-bottom: 0;
}


/* модификаторы инпутов */
.form__input_valid {
    border-bottom: 1px solid #2BE080;
}

.form__input_invalid {
    color: #EE3465;
}

.error-span {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #EE3465;
    visibility: visible;
    margin: 6px 0 6px 0;
}

.error-span_active {
    visibility: visible;
}
/* модификаторы инпутов */


.form__button {
    width: 100%;
    height: 45px;
    background-color: #2BE080;
    border: 0;
    border-radius: 3px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    margin: 221px 0 16px 0;
    transition: 0.3s;
}

.form__button:hover {
    opacity: 0.4;
}

.form__button:disabled {
    background-color: grey;
    opacity: 0.4;
}

.is-registered {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #A0A0A0;
    text-align: center;
}

.is-registered__registration {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #2BE080;
    margin-left: 6px;
}