@import url(./vendor/normalize.css);
@import url(./vendor/fonts/inter/inter.css);


.page {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  font-family: 'Inter';
  font-style: normal;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* justify-content: center; */
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .page {
      max-width: 767px;
  }
}

@media screen and (max-width: 320px) {
  .page {
      max-width: 320px;
  }
}
